  /* Full-page container */
.full-page-container {
    display: flex;
    justify-content: center; /* Centers children horizontally */
    align-items: center; /* Centers children vertically */
    background-color: #02021e; /* Your container's background color */
}

/* Circle container */
.circle-container {
    width: 650px; /* Width of the circle */
    height: 650px; /* Height of the circle, should be the same as width for a perfect circle */
    background-color: lightgray; /* Circle color */
    border-radius: 50%; /* Makes it a circle */
    display: flex;
    justify-content: center; /* Centers text horizontally inside the circle */
    align-items: center; /* Centers text vertically inside the circle */
    color: white; /* Text color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), /* Shadow effect */
    0 0 20px rgba(0, 0, 0, 0.3) inset; /* Inset shadow for depth */   
    border: 2px solid #ffffff; /* Light border for the popping effect */
    background: radial-gradient(circle at center, #f0f0f0 0%, #d4d4d4 80%, #bababa 100%);
}

.swap { 
  color: #02021e;
}