
.rev-container {
  color: black;
  background-color: hsl(0, 0%, 100%);
  margin-left: 20pt;
}
.rev-title {
  text-align: left; 
  font-size: 40px;
  margin-top: 50px;
}


.rev-table {
  width: 30%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif; 
  background-color: #050565;
  table-layout: fixed;
  color: white;
}
.rev-table1 {
  border: 1px solid black;
  width: 65.9%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif; 
  background-color: #050565;
  table-layout: fixed;
  color: white;

}
.RevenueTable, .Yaer1Table {
  margin-top: 20pt;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif; 
}
.year3 {
  border: 1px solid black;
}

.input-table {
  background-color: lightblue;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif; 

}

.input-segment{
  background-color: yellow;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}


.rev-table th, .rev-table td, .nested-table th, .nested-table td {
  border: 2px solid black;
  text-align: center;
}

.rev-table th {
  background-color: #050565;
  color: #FFF;
  font-weight: bold;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rev-table td button, .nested-table td button {
  width: 50%;
}

/* Special styles for month table */
.month-table {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
}


table.month-table tr {
  height: calc(100% / 6);
}

.td-month {
  position: relative;
}

.totalTD {
  background-color: #050565;
  color: white;
}

.blackTD {
  background-color: black;
}

/* Button styles */
.buttonYes, .buttonNo {
  padding: 6px 15px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
}



.buttonNo {
  background-color: #e74c3c; /* Red */
}

.buttonYes:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.buttonNo:hover {
  background-color: #c82333; /* Darker red on hover */
}
