
.tableizer-table2 {
	width: 100%;
	font-size: 16px;
	border: 2px solid black; 
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	
} 

table.nested-table {
	width: 100%;
	font-size: 16px;
	border: 1px solid black; 
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	 
}
table.nested-table td {
	border: 2px solid black;
}

.tableizer-table2 th, .tableizer-table2 td {
	text-align: center;
	border: 2px solid black;
}

.tableizer-table2 td button {
	width: 50%;
}
.tableizer-table2 th {
	background-color: #050565; 
	color: #FFF;
	font-weight: bold;
}
.headLabel { 
    grid-column: 1 / span 13;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}
.nsTD {
    padding: 0;
    margin: 0;
    height: 50px;
}
#ARtable {
	margin-left: 125px;
}
p {
	height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
	border: 1px solid black;
    line-height: normal; 
    
}
.numbersSold {
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
	border: 1px solid black;
    line-height: normal; 
	text-align: center;
    background-color: lightblue; 
}
.emptyInput {
	height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
	border: 1px solid black;
    line-height: normal; 
    background-color: gray; 

}
#commText {
	font-size: 12px;
}


.tableizer-table2 input[type="text"] {
	background-color: yellow;
}

.tableizer-table2 input[type="number"] {
	text-align: center;
	padding: 0;
	margin: 0;
    background-color: lightblue; 
}

.totalTD {
	background-color: #050565;
	color: white;
}
.blackTD {
	background-color: black;
}

.buttonYes {
	background-color: darkgreen; 
	color: white;
	width: 50%;
	height: 100%;
  }
.buttonNo {
	background-color: rgb(95, 4, 4); 
	color: white;
	width: 50%;
	height: 100%;
}
  .tableizer-table {
	width: 100%; 
	table-layout: fixed; 
	border-collapse: collapse; 
	border: 2px solid black; 
}
.tableizer-table td {
	width: auto; 
	height: 50px;
	border: 1px solid grey; 
}
.tableizer-table th {
	background-color: #050565; 
	color: white; 
	border: 1px solid grey; 
}
.tableizer-table input {
	width: 100%; 
	height: 90%; 
	box-sizing: border-box; 
	border: 2px solid black; 
	padding: 2px 4px;
	margin: 0; 
}
.tableizer-table input[type="text"] {
	background-color: yellow; 
}
.tableizer-table input[type="number"] {
	background-color: lightblue; 
}

  
  .buttonYes:hover,
  .buttonNo:hover {
	background-color: rgb(17, 185, 17); 
  }
  
  .buttonNo:hover {
	background-color: red; 
  }
.tableizer-table3 {
	border: 2px solid black;
}
.tableizer-table3 th, td{
	border: 2px solid black;
}