
.tableizer-table {
	width: 99%;
	font-size: 12px;
	border: 2px solid black; 
	font-family: Arial, Helvetica, sans-serif;
	table-layout: fixed; 
} 
.tableizer-table2 {
	width: 100%;
	font-size: 12px;
	border: 2px solid black; 
	font-family: Arial, Helvetica, sans-serif;
	table-layout: fixed; /* Ensure table respects set widths */
} 

table.nested-table {
	width: 100%;
	font-size: 12px;
	border: 1px solid black; 
	font-family: Arial, Helvetica, sans-serif;
	table-layout: fixed; 
}
table.month-table td {
	border: 2px solid black;
}
table.nested-table td {
	border: 2px solid black;
}

.tableizer-table2 th, .tableizer-table2 td {
	text-align: center;
}

.tableizer-table2 th:first-child, .tableizer-table2 td:first-child,
.tableizer-table2 th:nth-child(1), .tableizer-table2 td:nth-child(1) {
  width: 8%;
}

.tableizer-table2 td button {
	width: 50%;
}
.tableizer-table th {
	background-color: #050565; 
	color: #FFF;
	font-weight: bold;
  }
  .tableizer-table2 th {
	background-color: #050565; 
	color: #FFF;
	font-weight: bold;
  }
  
.headLabel { 
    grid-column: 1 / span 13;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Optional: Remove margin */
}

.month-table {
	position: absolute;
	font-size: 12px;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	width: 100%;
	height: 100%;
	table-layout: fixed;
}
.td-month {
	position: relative;
}
table.month-table tr {
	height: calc(100%/6);

}
.td-month input {
	width: 80%;
	height: 50%;
	font-size: 10px;
	text-align: center;
}
td input[type="text"] {
	width: 90%;
	height: 100%;
	text-align: left;
	background-color: yellow;
  }
td input[type="number"] {
	width: 90%;
	height: 50%;
	text-align: center;
	background-color: lightblue;
}
  
table.month-table td input {
	width: 70%;
	height: 80%;
	text-align: center;
	position: relative;
	background-color: lightblue;

} 
table.tableizer-table2 td {
	border: 1px solid black;
}
.totalTD {
	background-color: #050565;
	color: white;
}
.blackTD {
	background-color: black;
}


.buttonYes {
  background-color: #3498db; /* Blue color for "Yes" button */
  color: white;
}

.buttonNo {
  background-color: #e74c3c; /* Red color for "No" button */
  color: white;
}

.buttonYes:hover,
.buttonNo:hover {
  background-color: #0056b3; /* Darker blue on hover for "Yes" button */
}

.buttonNo:hover {
  background-color: #c82333; /* Darker red on hover for "No" button */
}